
body {
  display: flex;
  width: 100%;
}
/* GRID */
.wrapper {
 flex-direction: row;
 width: 100%;
}
.flex-container {
  display: flex;
  height: auto;
  width: 100%;
}
.flex-container div {
  flex-flow: row wrap;
  width: 100%;
}
.column-half {
  width: 50%;
}
.column-third {
  width: 33.3%;
}
.row {
  padding-left: 40px;
  padding-right: 40px;
}

.row:after {
  content: "";
  clear: both;
  display: block;

}

/* header */

#header .row {
  background-color: #F7F5E6;
  margin: 0;
  width: 100%;

}
nav {
  background-color: #F7F5E6;
  height: 100px;
  padding: 50px 0px 50px 300px;
  width: 100%;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
nav ul li a {
  color:  #8878B1;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 14px 15px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

/***** hero *****/
#hero .row {
  background-color: #F7F5E6;
  height: 500px;
}
#hero .flex-container {
  background-image: url('../img/hero-banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  padding: 0px;
}

#hero h1 {
  color: #8878B1;
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  font-weight: 600;
  line-height: 70px;
  margin-bottom: 0px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#hero p {
   color: #4d4d4d;
   font-family: 'Lato', sans-serif;
   font-weight: 300;
   font-size: 24px;
   line-height: 24px;
   margin-top: 5px;
   letter-spacing: 4px;
   padding-left: 8px;
   text-transform: uppercase;
 }

 #hero a {
   border: none;
   background-color: #8878B1;
   border-radius: 2px;
   color: #F7F5E6;
   display: inline-block;
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   font-weight: 600;
   line-height: 16px;
   margin-top: 50px;
   padding: 15px 24px;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
 }
/***** about *****/
#about .row {
    background-color: #8878B1;
    height: 700px;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 75px;
}
#about .flex-container {
    background-color: #8878B1;
    height: 700px
}
#background, #skills, #experience {
  height: 600px;
  width: 33.3%;
}
#background, #skills {
  border-right: 3px dashed #F7F5E6;
  padding-right: 30px;
}
#about h2 {
  background-color: #8878B1;
  color: #F7F5E6;
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
  padding-top: 25px;
  text-transform: uppercase;
}
#about img {
  text-align: center;
  width: 200px;
}
#about h3 {
  color: #F7F5E6;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  display: inline;
  text-align: center;
  text-transform: uppercase;
}
#about  p {
  color: #F7F5E6;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
}

#skills, #background {
  margin-right: 30px;
}

#about a:link {
  background-color: #F7F5E6;
  border: none;
  border-radius: 2px;
  color: #8878B1;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 30px;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/*services*/
#services .row {
  background-color: #BDE9D7;
  padding-bottom: 25px;
}

#services .flex-container {
  background-color: #BDE9D7;
}

#services .column-third {
  margin: 15px;
  height: auto;
}
#services p {
  color: #4d4d4d;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  padding-right: 10px;
  padding-top: 20px;
}
#services h2 {
    background-color: #BDE9D7;
    color: #8878B1;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 25px;
    padding-top: 25px;
    text-transform: uppercase;
  }
  #services h3 {
    color: #8878B1;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 0px;
    text-align: left;
    text-transform: uppercase;
  }
#strategy  {
    border: 3px dashed #F7F5E6;
    width: 33.3%;
    height: 350px;
    background-image: url('../img/strategy.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
}
#ia  {
  border: 3px dashed #F7F5E6;
  width: 33.3%;
  height: 350px;
  background-image: url('../img/ia-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
}

#channel  {
  border: 3px dashed #F7F5E6;
  width: 33.3%;
  height: 350px;
  background-image: url('../img/channel.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
#user-experience  {
  border: 3px dashed #F7F5E6;
  width: 33.3%;
  height: 350px;
  background-image: url('../img/user-experience.png');
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-bottom: 40px;
}
#ux  {
  border: 3px dashed #F7F5E6;
  width: 33.3%;
  height: 350px;
  background-image: url('../img/uxdesign-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-bottom: 40px;
  }
#development  {
  border: 3px dashed #F7F5E6;
  width: 33.3%;
  height: 350px;
  background-image: url('../img/development-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}
/***** work *****/
#work .row {
  background-color: #f7f5e6;
  height: 500px;
  padding-bottom: 25px;
}
#work .flex-container {
background-color: #f7f5e6;
height: 500px;
}

#work h2 {
  background-color: #f7f5e6;
  color: #8878B1;
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 25px;
  padding-top: 25px;
  text-transform: uppercase;
}
#project-text h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #4d4d4d;
  line-height: 50px;
  text-align: center;
}
#project-text p {
  color: #4d4d4d;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: auto;
  line-height: 24px;
  text-align: justify;
  margin-left: 10px;
}

#project-text {
  margin-right: 50px;
  width: 50%;
  height: auto;
}

#project-image {
  background-image: url('../img/portfolio-image.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
}

/***** highlighted projects *****/
#highlighted-projects .row {
    background-color: #8878B1;
    height: 800px;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 75px;
    padding-right: 25px;
}
#highlighted-projects .flex-container {
    background-color: #8878B1;
    height: 850px
}
#project1, #project2, #project2 {
  height: 850px;
  width: 33.3%;
}
#project1, #project2 {
  border-right: 3px dashed #F7F5E6;
  padding-right: 20px;
}
#project2, #project3 {
  padding-left: 20px;
}
#project3 {
  padding-right: 20px;
}
#project1, #project2, #project3, img {
  width: 530px;
}

#highlighted-projects h3 {
  color: #F7F5E6;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 0px;
  text-align: center;
  text-transform: uppercase;
}
#highlighted-projects p {
  color: #F7F5E6;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
}
#highlighted-projects h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #F7F5E6;
  text-align: center;
  line-height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 25px;
  padding-top: 25px;
}

#highlighted-projects a:link, a:visited {
  background-color: #F7F5E6;
  border: none;
  border-radius: 2px;
  color: #8878B1;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 50px;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/***** contact *****/
#contact .row {
  background-color: #F7F5E6;
  height: 500px;
  margin-top: 0;
  padding-top: 25px;
  padding-right: 0px;
  padding-left: 0px;
}
#contact .flex-container {
  background-color: #F7F5E6;
  background-image: url('../img/contact-image.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}
#contact img {
  margin-right: 40px;
  width: 48px;
}
#contact h2 {
background-color:#F7F5E6;
color: #8878B1;
font-family: 'Raleway', sans-serif;
font-size: 48px;
font-weight: 400;
line-height: 56px;
text-align: center;
margin-top: 0px;
margin-bottom: 0px;
padding-bottom: 25px;
padding-top: 25px;
text-transform: uppercase;
}
#contact a:link {
  color: #8878B1;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 75px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;

}
#contact ul li {
    list-style-type: none;
}
#contact ul li a {
  margin-bottom: 10px;
}
#info, #links1, #links2 {
  width: 33.3%;
  height: 500px;
}
#info, #links1 {
  border-right: 3px dashed #BDE9D7;
  padding-right: 20px;
}
/***** footer *****/
#footer .row {
  background-color: #BDE9D7;
  margin: 0;
  padding-top: 25px;
  height: 100px;

}
#footer .flex-container {
  width: 100%;
}
#footer p {
  color: #8878B1;
  text-align: center;
}
